x-google-marketplace:
  schemaVersion: v2

  applicationApiVersion: v1beta1

  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      Initial marketplace release.
    releaseTypes:
      - Feature
    recommended: false

  images:
    #controller:
    '':
      properties:
        registry:
          type: REGISTRY
          default: $REGISTRY
        tag:
          type: TAG
        controller.image.repository:
          type: REPO_WITHOUT_REGISTRY

    enforcer:
      properties:
        enforcer.image.repository:
          type: REPO_WITHOUT_REGISTRY
        controller.image.tag:
          type: TAG

    manager:
      properties:
        manager.image.repository:
          type: REPO_WITHOUT_REGISTRY
        manager.image.tag:
          type: TAG

    registry-adapter:
      properties:
        cve.adapter.image.repository:
          type: REPO_WITHOUT_REGISTRY
#       cve.adapter.image.tag:
#         type: TAG

    updater:
      properties:
        cve.updater.image.repository:
          type: REPO_WITHOUT_REGISTRY
#       cve.updater.image.tag:
#         type: TAG

    scanner:
      properties:
        cve.scanner.image.repository:
          type: REPO_WITHOUT_REGISTRY
#       cve.scanner.image.tag:
#         type: TAG

    neuvector-google-billing-container:
      properties:
        global.gcloud.image.repository:
          type: REPO_WITHOUT_REGISTRY
        global.gcloud.image.tag:
          type: TAG

    ubbagent:
      properties:
        ubbagent.image.repository:
          type: REPO_WITH_REGISTRY
        ubbagent.image.tag:
          type: TAG

# clusterConstraints:
#   resources:
#     - replicas: 3
#       requests:
#         cpu: 2000m
#         memory: 8192Mi
#   istio:
#     type: OPTIONAL

  deployerServiceAccount:
    description: >
      The deployer service account needs to be granted the relevant
      privileges to be able to create the NeuVector app's resources,
      including the CspAdapterUsageRecord CRD and it's associated
      neuvector-usage resource.
    type: string
    roles:
    - type: ClusterRole
      rulesType: CUSTOM
      rules:

      - apiGroups: [""]
        resources:
        - "namespaces"
        - "nodes"
        - "pods"
        - "services"

        verbs:
        - "get"
        - "list"
        - "watch"
        - "update"

      - apiGroups: [""]
        resources:
        - "bindings"
        - "configmaps"
        - "endpoints"
        - "events"
        - "limitranges"
        - "namespaces/status"
        - "persistentvolumeclaims"
        - "persistentvolumeclaims/status"
        - "pods/log"
        - "pods/status"
        - "replicationcontrollers"
        - "replicationcontrollers/scale"
        - "replicationcontrollers/status"
        - "resourcequotas"
        - "resourcequotas/status"
        - "serviceaccounts"
        - "services/status"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["apiextensions.k8s.io"]
        resources:
        - "customresourcedefinitions"
        verbs: ['*']

      - apiGroups: ["admissionregistration.k8s.io"]
        resources:
        - "mutatingwebhookconfigurations"
        - "validatingwebhookconfigurations"
        verbs:
        - "get"
        - "list"
        - "watch"
        - "create"
        - "update"
        - "delete"
        - "patch"

      - apiGroups: ["discovery.k8s.io"]
        resources:
        - "endpointslices"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["networking.k8s.io"]
        resources:
        - "ingresses"
        - "ingresses/status"
        - "networkpolicies"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["rbac.authorization.k8s.io"]
        resources:
        - "clusterrolebindings"
        - "clusterroles"
        - "rolebindings"
        - "roles"
        verbs:
        - "get"
        - "list"
        - "watch"
        - "create"
        - "patch"

      - apiGroups: ["neuvector.com"]
        resources:
        - "nvadmissioncontrolsecurityrules"
        - "nvwafsecurityrules"
        - "nvclustersecurityrules"
        - "nvdlpsecurityrules"
        - "nvsecurityrules"
        verbs:
        - "list"
        - "delete"

      - apiGroups: ["susecloud.net"]
        resources:
        - "cspadapterusagerecords"
        verbs:
        - "get"
        - "create"
        - "update"
        - "delete"
        - "patch"

      - apiGroups: ["apps"]
        resources:
        - "controllerrevisions"
        - "daemonsets"
        - "daemonsets/status"
        - "deployments"
        - "deployments/scale"
        - "deployments/status"
        - "replicasets"
        - "replicasets/scale"
        - "replicasets/status"
        - "statefulsets"
        - "statefulsets/scale"
        - "statefulsets/status"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["autoscaling"]
        resources:
        - "horizontalpodautoscalers"
        - "horizontalpodautoscalers/status"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["batch"]
        resources:
        - "cronjobs"
        - "cronjobs/status"
        - "jobs"
        - "jobs/status"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["extensions"]
        resources:
        - "daemonsets"
        - "daemonsets/status"
        - "deployments"
        - "deployments/scale"
        - "deployments/status"
        - "ingresses"
        - "ingresses/status"
        - "networkpolicies"
        - "replicasets"
        - "replicasets/scale"
        - "replicasets/status"
        - "replicationcontrollers/scale"
        verbs:
        - "get"
        - "list"
        - "watch"

      - apiGroups: ["policy"]
        resources:
        - "poddisruptionbudgets"
        - "poddisruptionbudgets/status"
        verbs:
        - "get"
        - "list"
        - "watch"


properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    default: neuvector
    x-google-marketplace:
      type: NAMESPACE
  ubbagent.reportingSecretName:
    type: string
    x-google-marketplace:
      type: REPORTING_SECRET

required:
- name
- namespace
- ubbagent.reportingSecretName
